@charset "utf-8";
/* CSS Document */

body{
 font-family:tahoma, verdana, arial;
 font-size:11px;
 margin:0px;
 padding:5px;
 text-align:center;
}

body div{
 margin:0px;
 padding:5px;
 border:3px;
 text-align:left;
 background-repeat:no-repeat;
 width:100%;
 height:100%;
}

#mainTemplate{
 width:100%;
 height:100%;
}

#mainContent{
 margin:0px;
 padding-top:5px;
 text-align:left;
 width:100%;
 height:100%;
}

#isiprofile{
 width:100%;
 height:100%;
}

#top{
 padding-bottom:10px;
}

td, th{
 border-collapse:collapse;
 text-align:left;
}

#biodata{
 width:100%;
}

#bio{
 border-left-color:#777777;
}

#tentang{
	position:absolute;
	width:60%;
	z-index:1;
	left: 393px;
	top: 109px;
}

#tabBiodata{
 /*width:320px;*/
}

#tabBiodata th{
 text-align:center;
 font-family:monospace, cursive, "Arial Black", "Bookman Old Style";
}

#tabBiodata td{
 text-align:left;
 font-family:monospace, cursive, "Arial Black", "Bookman Old Style";
}

#tabKolega{
 /*width:320px;*/
}

#tabKolega th{
 text-align:center;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 vertical-align:middle;
 border:outset 1px #ccc;
 background:#999;
 color:#FFFFFF;
 font-weight:bold;
 padding: 1px 2px;
 background:url(../style/formbg2long.gif) repeat-x left top;
 border-collapse  : collapse;
 font-size        : 10px;
 border-left-color:#BBBBBB;
}

#tabKomentar{
 /*width:320px;*/
}

#tabKomentar th{
 text-align:center;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 vertical-align:middle;
 border:outset 1px #ccc;
 background:#999;
 color:#FFFFFF;
 font-weight:bold;
 padding: 1px 2px;
 background:url(../style/formbg2long.gif) repeat-x left top;
 border-collapse  : collapse;
 font-size        : 10px;
}

#gue{
 width:93%;
}

#gue{
 	color:#5d5949;
	padding:20px;
	background-color:#e9e7e0;
	border:1px solid #d6d3ca;
	font-size:13px;
	line-height:20px;
	padding-bottom:10px;
	min-height:160px;
}


#karya{
 text-align:left;
}

#tbGaleri{
 width:93%;
}

#tbGaleri th{
 text-align:left;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 vertical-align:middle;
 border:outset 1px #ccc;
 background:#999;
 color:#FFFFFF;
 font-weight:bold;
 padding: 1px 2px;
 background:url(../style/formbg2long.gif) repeat-x left top;
 border-collapse  : collapse;
 font-size        : 10px;
 border-left-color:#BBBBBB;
}

.tombol{
 text-align:left;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 vertical-align:middle;
 border:outset 1px #ccc;
 background:#999;
 color:#FFFFFF;
 font-weight:bold;
 padding: 1px 2px;
 background:url(../style/formbg2long.gif) repeat-x left top;
 border-collapse  : collapse;
 font-size        : 10px;
 border-left-color:#BBBBBB;
}
